<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{[yyyy-MM-dd HH:mm:ss]} [%5p] %c.%M - %m%n"/>
        </Console>
        <RollingFile name="trace-log" fileName="${log-path}/MyTest-trace.log"
                     filePattern="${log-path}/MyTest-trace-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{[yyyy-MM-dd HH:mm:ss]} [%5p] %c.%M - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="error-log" fileName="${log-path}/MyTest-error.log"
                     filePattern="${log-path}/MyTest-error-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{[yyyy-MM-dd HH:mm:ss]} [%5p] %c.%M - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mycuteblog.log4j2" level="debug" additivity="false">
            <appender-ref ref="trace-log" level="debug"/>
            <appender-ref ref="error-log" level="error"/>
            <appender-ref ref="console-log" level="debug"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="trace-log" level="DEBUG"/>
            <AppenderRef ref="error-log" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>